<div class="grid-row">
  <div class="column-full">
    <%= render("waste_exemptions_engine/shared/back", back_path: root_path) %>

    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
    <h4 class="heading-small">
      <%= @bulk_exports.exported_at_message %>
    </h4>
  </div>
</div>

<% if @bulk_exports.links.any? %>
<div class="grid-row">
  <div class="column-full">
    <ul>
      <% @bulk_exports.links.each do |link_data| %>
      <li>
        <%= link_to link_data[:text], link_data[:url] %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
