<div class="grid-row">
  <div class="column-full">
    <%= render("waste_exemptions_engine/shared/back", back_path: root_path) %>

    <h1 class="heading-large">
      <%= t(".heading", reference: @resource.reference) %>
    </h1>
  </div>
</div>

<%= render("shared/resource_details", resource: @resource) %>
