---
http_interactions:
- request:
    method: post
    uri: https://s3.eu-west-1.amazonaws.com/<AWS_BULK_EXPORT_BUCKET>?delete
    body:
      encoding: UTF-8
      string: |
        <Delete xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
          <Object>
            <Key>waste_exemptions_bulk_export_20190301-20190331.csv</Key>
            <VersionId>null</VersionId>
          </Object>
        </Delete>
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - Ltfr0OGtC+ZKJs+7GHizUg==
      X-Amz-Date:
      - 20190328T161832Z
      X-Amz-Content-Sha256:
      - 78830d17ecb724f516a4321ab3f31cfd45f8ba087ef999a6340d40e6519f0fff
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_BULK_EXPORT_ACCESS_KEY_ID>/20190328/eu-west-1/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=15683f794b3e6573e58d0cc7876b9690a217fc778176bfa5c06e154c6ace2111
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 551D62CE68DA25A9
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DeleteResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Deleted><Key>waste_exemptions_bulk_export_20190301-20190331.csv</Key><VersionId>null</VersionId></Deleted></DeleteResult>
  recorded_at: Thu, 28 Mar 2019 16:18:32 GMT
recorded_with: VCR 4.0.0
