---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"81cae4bd-9f4c-4e14-bf3c-44573cee4f5b","personalisation":{"reference":"WEX000001","date_registered":"10
        January 2021","applicant_name":"Firstapp1 Lastapp1","applicant_email":"applicant1@example.com","applicant_phone":"01234567890","business_details":["Business
        or organisation type: Limited company","Registered name of the company: Operator
        1","Registration number of the company: 09360070","Registered address of the
        company: premises_1, street_address_1, locality_1, city_1, BS1 1AA"],"contact_name":"Firstcontact1
        Lastcontact1","contact_details":["Name: Firstcontact1 Lastcontact1","Telephone:
        01234567890","Email: contact1@example.com"],"site_details":["Grid reference:
        ST 58337 72855","Site details: The waste is stored in an out-building next
        to the barn."],"exemption_details":["F1: Use of spam in cooking – Expires
        on 10 January 2024","F2: Use of spam in cooking – Expires on 10 January 2024","F3:
        Use of spam in cooking – Expires on 10 January 2024"],"deregistered_exemption_details":[],"show_deregistered_exemption_details":false,"address_line_1":"Firstcontact1
        Lastcontact1","address_line_2":"premises_2","address_line_3":"street_address_2","address_line_4":"locality_2","address_line_5":"city_2","address_line_6":"BS1
        1AA"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 52f7d1b4-89be-410c-6ae2-74184e43f784
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Firstcontact1 Lastcontact1\r\n\r\n# Your reference:
        WEX000001\r\n\r\nCheck on the back of this sheet as this may print on more
        than one page.\r\n\r\n# Your responsibilities\r\n\r\nThe business or organisation
        responsible for carrying out the exempt waste operations agrees to:\r\n\r\n-
        comply with all conditions governing how waste must be stored, handled and
        treated\r\n- carry out the operations without endangering human health or
        harming the environment\r\n\r\nFor the operations to remain exempt they must
        be carried out without:\r\n\r\n- causing risk to water, air, soil, plants
        or animals\r\n- causing a nuisance through noise and odours\r\n- negatively
        affecting the countryside or places of special interest\r\n\r\nIn sensitive
        locations extra controls may be needed over and above those set out in the
        exemptions to make sure this happens.\r\n\r\n# Registration details\r\n\r\nReference
        number: WEX000001\r\nActivation date: 10 January 2021\r\n\r\n# Registration
        completed by\r\n\r\n- Name: Firstapp1 Lastapp1\r\n- Business telephone number:
        01234567890\r\n- Business email: applicant1@example.com\r\n\r\n# Business
        details\r\n\r\n\n\n* Business or organisation type: Limited company\n* Registered
        name of the company: Operator 1\n* Registration number of the company: 09360070\n*
        Registered address of the company: premises_1, street_address_1, locality_1,
        city_1, BS1 1AA\r\n\r\n# Waste operation contact\r\n\r\n\n\n* Name: Firstcontact1
        Lastcontact1\n* Telephone: 01234567890\n* Email: contact1@example.com\r\n\r\n#
        Waste operation location or site\r\n\r\n\n\n* Grid reference: ST 58337 72855\n*
        Site details: The waste is stored in an out-building next to the barn.\r\n\r\n#
        Waste exemptions\r\n\r\n\n\n* F1: Use of spam in cooking \u2013 Expires on
        10 January 2024\n* F2: Use of spam in cooking \u2013 Expires on 10 January
        2024\n* F3: Use of spam in cooking \u2013 Expires on 10 January 2024\r\n\r\n\r\n\r\n\r\n\r\n#
        If you need to contact us\r\n\r\nIf you need help or advice call the Environment
        Agency helpline: 03708 506506\r\n\r\nIt''s open Monday to Friday, between
        8am and 6pm.\r\n\r\nYours sincerely,\r\nWaste Exemptions Team","subject":"Confirmation
        of waste exemption registration"},"id":"b1c8f502-cde1-41d1-9ce7-ea501ba31934","reference":null,"scheduled_for":null,"template":{"id":"81cae4bd-9f4c-4e14-bf3c-44573cee4f5b","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/81cae4bd-9f4c-4e14-bf3c-44573cee4f5b","version":8},"uri":"https://api.notifications.service.gov.uk/v2/notifications/b1c8f502-cde1-41d1-9ce7-ea501ba31934"}

'
  recorded_at: Sun, 10 Jan 2021 14:04:54 GMT
recorded_with: VCR 6.0.0
