<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <%= render "renewal_letter/styles" %>
</head>

<body>
  <% presenters.each_with_index do |presenter, index| %>
    <!-- We don't want the bulk to fail if a single render fails -->
    <%=
      begin
        render("renewal_letter/renewal_letter_content", presenter: presenter)
      rescue StandardError => e
        Airbrake.notify e, registration_reference: presenter.reference
        Rails.logger.error "Generate AD bulk letters render error for #{presenter.reference}:\n#{e}"
        ""
      end
    %>
    <% if index < (presenters.size - 1) %>
      <div id="page-break">&nbsp;</div>
    <% end %>
  <% end %>
</body>
</html>
