<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Letter</title>
  <meta name="description" content="WEX renewal letter">
  <meta name="author" content="Environment Agency">

  <%= render "renewal_letter/styles" %>
</head>

<body>
  <%= render "renewal_letter_content", presenter: presenter %>
</body>
</html>
