<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
    <%= error %>
  </h2>
  <p>
    <%= details%>
  </p>
</div>
