<div class="error-summary wex_message" role="alert" aria-labelledby="message-summary-heading-1" tabindex="-1">
  <h2 class="heading-medium error-summary-heading" id="message-summary-heading-1">
    <%= message %>
  </h2>
</div>
