<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_exemptions_engine/shared/back", back_path: root_path) %>

    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
    <p>
      <%= link_to t(".links.renewal_letters"), ad_renewal_letters_exports_path %>
    </p>
    <p>
      <%= link_to t(".links.confirmation_letters"), ad_confirmation_letters_exports_path %>
    </p>
  </div>
</div>

