.user-info {
  border-top: 10px solid $govuk-blue;
  h2 {
    margin-top: 1em;
  }
  span {
    font-weight: bold;
  }
}

.registration-list .registration-details li {
  padding-bottom: 1em;

  ul li {
    padding-bottom: 0;
  }
}

@media (min-width: 642px) {
  .registration-list .registration-details li:last-child {
    padding-bottom: 0;
  }
}

.registration-list span {
  display: block;
  font-weight: bold;
}


.action-boxout {
  background-color: #f8f8f8;
  padding: 10px;
  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// TABLE CAPTION
.govuk-table__caption {
  font-size: 24px;
  font-weight: 800
}

// STATUS TAGS
.govuk-tag {
  background-color: #005ea5;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: 4px 8px 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.govuk-tag-active {
  @extend .govuk-tag;
  background-color: #85994b;
}

.govuk-tag-ceased {
  @extend .govuk-tag;
  background-color: #d53880;
}

.govuk-tag-revoked {
  @extend .govuk-tag;
  background-color: #b10e1e;
}

.govuk-tag-expired {
  @extend .govuk-tag;
  background-color: #bfc1c3;
}
