.error-summary.wex_message {
  border-color: #28a197;
  background-color: #28a197;
  color: #ffffff;
}

.error-summary-heading {
  margin-bottom: 0;
}
.wex_message .error-summary-list a:link,
.wex_message .error-summary-list a:visited,
.wex_message .error-summary-list a:hover,
.wex_message .error-summary-list a:active,
.wex_message .error-summary-list p {
  color: #ffffff;
 }
