.action-boxout {
  background-color: #f8f8f8;
  padding: 10px;
  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &.separated {
      margin-top: 60px;
    }
  }
}

// TABLE CAPTION
.govuk-table__caption {
  font-size: 24px;
  font-weight: 800
}

// FORCE DATES TO BE ON SINGLE LINE
td.date-nowrap {
  white-space: nowrap;
}

.word-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
