<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>WEX bulk confirmation letters</title>
  <meta name="description" content="Waste Exemptions confirmation letter">
  <meta name="author" content="Environment Agency">
  <%= wicked_pdf_stylesheet_link_tag("confirmation_letter") %>
</head>

<body>
  <% presenters.each_with_index do |presenter, index| %>
    <!-- We don't want the bulk to fail if a single render fails -->
    <%=
      begin
        render "confirmation_letter/confirmation_letter_content", presenter: presenter
      rescue StandardError => e
        Airbrake.notify e, registration_reference: presenter.reference
        Rails.logger.error "Generate AD bulk letters render error for #{presenter.reference}:\n#{e}"
        ""
      end
    %>
  <% end %>
</body>
</html>
