<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= t(".web_page_title", reference: presenter.reference) %></title>
  <meta name="description" content="Waste Exemptions confirmation letter">
  <meta name="author" content="Environment Agency">
  <%= wicked_pdf_stylesheet_link_tag("confirmation_letter") %>
</head>

<body>
  <%= render "confirmation_letter/confirmation_letter_content", presenter: presenter %>
</body>
</html>
